extends layout

block content
  div#main
    h1= title
    p
        a(href="/userlist")= "Search History"
    p 
        a(href="/about")= "About"
    form(name="adduser",id="searchForm",method="post",action="/adduser")
      div.input
        input(type="text", id="s", name="username", value="Enter your search")
      input(type="submit", id="searchSubmit", value="") 