extends layout

block content
    p
        a(href="/userlist")= "Search History"
    p 
        a(href="/about")= "About"
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="Search", name="username")
        button#btnSubmit(type="submit") submit